<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louis.mango.admin.dao.SysUserMapper">

	<resultMap id="BaseResultMap" type="com.louis.mango.admin.model.SysUser">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="nick_name" property="nickName"/>
		<result column="avatar" property="avatar"/>
		<result column="password" property="password"/>
		<result column="salt" property="salt"/>
		<result column="email" property="email"/>
		<result column="mobile" property="mobile"/>
		<result column="status" property="status"/>
		<result column="dept_id" property="deptId"/>
		<result column="create_by" property="createBy"/>
		<result column="create_time" property="createTime" jdbcType="DATE" javaType="java.util.Date"/>
		<result column="last_update_by" property="lastUpdateBy"/>
		<result column="last_update_time" property="lastUpdateTime"  jdbcType="DATE" javaType="java.util.Date"/>
	</resultMap>
	
	<!-- 关联查询 -->
	<resultMap id="ExtendUserMap" type="com.louis.mango.admin.model.SysUser">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="nick_name" property="nickName"/>
		<result column="avatar" property="avatar"/>
		<result column="password" property="password"/>
		<result column="salt" property="salt"/>
		<result column="email" property="email"/>
		<result column="mobile" property="mobile"/>
		<result column="status" property="status"/>
		<result column="dept_id" property="deptId"/>
		<result column="create_by" property="createBy"/>
		<result column="create_time" property="createTime" jdbcType="DATE" javaType="java.util.Date"/>
		<result column="last_update_by" property="lastUpdateBy"/>
		<result column="last_update_time" property="lastUpdateTime"  jdbcType="DATE" javaType="java.util.Date"/>
		<result column="dept_name" property="deptName"/>
		<result column="role_names" property="roleNames"/> 
		<collection property="userRoles" ofType="com.louis.mango.admin.model.SysUserRole" 
		select="com.louis.mango.admin.dao.SysUserMapper.selctUserRoles" column="userId=id">
		</collection>
	</resultMap>
	
	<resultMap id="userRolesMap" type="com.louis.mango.admin.model.SysUserRole">
		<id column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="role_id" property="roleId"/>
		<result column="create_by" property="createBy"/>
		<result column="create_time" property="createTime"/>
		<result column="last_update_by" property="lastUpdateBy"/>
		<result column="last_update_time" property="lastUpdateTime"/>
	</resultMap>
	
	<sql id="Base_cloum_list">
		id,name,nick_name,avatar,password,salt,email,mobile,status,dept_id,
		create_by,create_time,last_update_by,last_update_time,del_flag
	</sql>

	<select id="findAll" resultMap="BaseResultMap" >
		select
		<include refid="Base_cloum_list" />
		from sys_user
	</select>
	
	
	<select id="findPage" resultMap="BaseResultMap">
		select
		<include refid="Base_cloum_list"/>
		from sys_user
	</select>
	
	<select id="getExtendPage" resultMap="ExtendUserMap">
		select 
			u.*, dep.`name` dept_name, GROUP_CONCAT(DISTINCT(r.`name`)) role_names
		from `sys_user` u
		LEFT JOIN sys_dept dep ON u.dept_id=dep.id
		LEFT JOIN sys_user_role ur ON ur.user_id=u.id
		LEFT JOIN sys_role r ON r.id=ur.role_id
		GROUP BY u.id
	</select>
	<select id="selctUserRoles" resultMap="userRolesMap" >
		SELECT * FROM sys_user_role WHERE user_id=#{userId}
	</select>
	
</mapper>
